<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="bakery">
 	<select id="allitems" resultType="bakery">
 		select * from bakery order by 1
 	</select>
 	<insert id="insertitem" parameterType="bakery">
 		insert into bakery values(bakery_seq.nextval,#{bakeryname},#{price},#{balance},#{bakeryimage})
 	</insert>
  </mapper>